<div class="table-responsive">
    <table class="table table-hover">
        <thead style="background-color: #337ab7; color: white;">
        {{#each header}}
            <tr>
                {{#each this}}
                    <th style="border: 1px solid white;" rowspan="{{this.RowSpan}}" colspan="{{this.ColSpan}}"> {{this.Label}}</th>
                {{/each}}
            </tr>
        {{/each}}
        </thead>
        <tbody>
        {{#each rows}}
            <!-- TODO: remove it from here the style? -->
            {{#if rowShade}}
                <tr style="background-color: #8bb8df; color: white;">
            {{else}}
                <tr>
            {{/if}}
            {{#each data}}
                    <td>{{this}}</td>
            {{/each}}
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>