<div class="table-responsive" style="{{#if display}}display:{{display}};{{/if}}">
    <table id="test" class="table-hover fs-report-table" data-tableexport-display="always">
        <thead>
        {{#each header}}
            <tr>
                {{#each this}}
                    <th style="{{#if this.text-align}}text-align:{{this.text-align}};{{/if}}" rowspan="{{this.RowSpan}}" colspan="{{this.ColSpan}}"> {{this.Label}}</th>
                {{/each}}
            </tr>
        {{/each}}
        </thead>
        <tbody>
        {{#each rows}}
            {{#if rowShade}}
                <tr class="row-shade">
            {{else}}
                <tr>
            {{/if}}
            {{#each data}}
                    <td style="{{#if this.text-align}}text-align:{{this.text-align}};{{/if}}">{{this.label}}</td>
            {{/each}}
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>